h1 {
font-family: 'Helvetica', sans-serif;
color: #333333;
font-size: 32px;
text-align: center;
margin-bottom: 20px;
}

.intro {
font-weight: bold;
font-size: 18px;
line-height: 1.6;
color: #0066cc;
}

p {
font-family: 'Georgia', serif;
line-height: 1.5;
color: #444444;
margin-bottom: 15px;
}

